[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
selenium = "*"
ipdb = "*"
versioneer = "*"
ipython = "*"
wheel = "*"

[requires]
python_version = "3.6"
