[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
flask = "*"

[dev-packages]
pytest = "*"
selenium = "*"
chromedriver-binary = "*"
ansible = "*"
ipdb = "*"
docker-compose = "*"

[requires]
python_version = "3.6"
