[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "*"

[dev-packages]
pytest = "*"
selenium = "*"
ansible = "*"
ipdb = "*"
docker-compose = "*"
versioneer = "*"
ipython = "*"

[requires]
python_version = "3.6"
